.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-image: linear-gradient(to right, #2e2e2e, #1b1b1b);
  
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px; 
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.link,
.active-link {
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border: 2px solid #a38960; 
  border-radius: 10px;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease;
}

.active-link {
  background-color: #a38960; 
  color: white;
}

.link:hover {
  background-color: #a38960; 
  color: white;
  transform: scale(1.05);
}

/* Media querys for responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1.5rem;
  }

  .logo-image {
    width: 150px;
  }

  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
  }
}
