@import url("App.css");
@import url("FavoriteButton.css");
@import url("FavoritePage.css");
@import url("Header.css");
@import url("HomePage.css");
@import url("IngredientPage.css");
@import url("ListResults.css");
@import url("Pagination.css");
@import url("CocktailCard.css");
@import url("CocktailDetails.css");
@import url("Search.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  font-weight: 500;
  color: rgb(250, 229, 190);
  text-decoration: none;

  &:hover {
    color: rgb(255, 241, 216);
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

button {
  border: 2px solid #a38960;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #a38960;
  }
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.uppercase {
  text-transform: uppercase;
}