.pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 2rem;

  button {
    padding: 0.8rem;
    border: 1px solid #FFDEC0;
    background-color: #00000000;
    color: white;
    cursor: pointer;
    font-weight: 600;
    
    &.activePage {
      background-color: #FFDEC0;
      color: black;
    }

    &:hover {
      background-color: rgba(255, 222, 192, 0.5);
    }
  }
}