.pagination {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 2rem;

  button {
    padding: 0.8rem;
    border: 2px solid #a38960;
    border-radius: 8px;
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    font-weight: 600;
    
    &.activePage {
      background-color: #a38960;
    }

    &:hover {
      background-color: hsl(from #a38960 h s l / 50%);
    }
  }
}